// 0.237, 0.316, 0.422, 0.563, 0.75,
// 1.000 1.333 1.776 2.368 3.157 4.208 5.610 7.478 9.968 13.288 17.713
// 23.611 31.474 41.955 55.927 74.550 99.376 132.468 176.580 235.381 313.763
// (from ratio of 1.333)

* {
	box-sizing: border-box;
}

#app > header {
	display: flex;
	flex-direction: row;

	@media(max-width: 960px) {
		flex-direction: column;
	}

	> h1 {
		flex-shrink: 0;
		font-size: 1.333em;
		font-weight: normal;
		padding-right: 1em;
		text-align: right;
		width: 9.968rem;

		@media(max-width: 960px) {
			text-align: left;
			padding-left: 1em;
		}
	}
}

body, html {
	font: 16px/1.25 "Quantico";
	margin: 0;
	padding: 0;
}

body {
	background: #ABC8F4 -moz-linear-gradient(center top, #ABC8F4 0%, #D9E8FF 100%) no-repeat 0 0;
	background-attachment: fixed;
	min-height: 100vh;
}

.bin {
	$bg: #ECF3FD;
	background-color: $bg;
	border: 3px solid darken($bg, 16%);
	display: inline-flex;
	padding: 0;
	padding-left: .422em;
	margin-left: .563em;
	margin-top: .563em;
	min-height: 1.633em;
	transition: opacity .316s ease;
	vertical-align: top;
	width: 23.611em;

	&.empty {
		opacity: .563;

		.items {
			height: auto;
		}
	}

	> header {
		display: flex;
		flex: 0 0 1.333em;
		flex-direction: column;
		padding: .316em 0;

		> h1 {
			flex-grow: 1;
			font-size: 1.333rem;
			font-weight: bold;
			line-height: 2.368rem;
			margin: 0;
			padding: {
				bottom: .316em;
				left: .316em;
			}
			top: 0;
			width: 1.766em;
		}

		> button {
			flex-grow: 0;
			font-size: 1.333rem;
			opacity: .178;
			transition: opacity .316s ease;
		}
	}

	&:hover > header > button {
		opacity: 1;
	}

	.items {
		height: 9.968em;
		margin: 0;
		padding-left: .75em;
		padding-right: .75em;
		padding-top: .75em;
		padding-bottom: 1.776em;

		// Overflow shadows, from http://lea.verou.me/2012/04/background-attachment-local/
		overflow: hidden;

		background:
			/* Shadow covers */
			linear-gradient($bg 30%, rgba($bg, 0)),
			linear-gradient(rgba($bg, 0), $bg 70%) 0 100%,

			/* Shadows */
			radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
			radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
		background:
			/* Shadow covers */
			linear-gradient($bg 30%, rgba($bg, 0)),
			linear-gradient(rgba($bg, 0), $bg 70%) 0 100%,

			/* Shadows */
			radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
			radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
		background-repeat: no-repeat;
		background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

		/* Opera doesn't support this in the shorthand */
		background-attachment: local, local, scroll, scroll;
	}
}

.bins {
	width: 100%;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 1em;
	text-shadow: 0 0 2px rgba(0, 0, 0, .3);
	transition: text-shadow .316s ease;

	&:hover {
		text-shadow: 0 0 5px #8AB5F4;
	}
}

@keyframes highlight {
	0% {
		background: rgba(253, 196, 55, .8);
	}

	100% {
		background: rgba(253, 196, 55, 0);
	}
}

.highlight {
	animation: highlight 1s;
}

.item {
	list-style-type: none;
	padding-bottom: .316em;

	&:last-child {
		padding-bottom: 0;
	}

	> button {
		margin-left: .75em;
		opacity: .178;
		opacity: 0;
		transition: opacity .316s ease;
	}

	&:hover > button {
		opacity: 1;
	}
}

.location {
	display: flex;
	flex-direction: row;
	margin-top: 2.368em;

	@media(max-width: 960px) {
		flex-direction: column;
	}

	> header {
		flex-shrink: 0;
		padding-right: 1em;
		text-align: right;
		width: 9.968em;

		@media(max-width: 960px) {
			text-align: left;
			padding-left: 1em;
		}

		h1 {
			font-size: 1.776em;
			margin-top: .563rem;
			margin-bottom: .75rem;
		}
	}

	.item-creators {
		margin-top: .536em;
		padding: 0;

		button {
			margin-left: .422em;
		}
	}

	.location-tools {
		opacity: .178;
		transition: opacity .316s ease;
	}

	&:hover .location-tools {
		opacity: 1;
	}
}
